
@{
    ViewBag.Title = "Reset";
}

<h2>Reset Password</h2>

@using (Html.BeginForm("Reset", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary()
    <div class="form-group">
        <label class="col-md-2 control-label">UserName</label>
        <div class="col-md-10">
            @Html.TextBox("UserName", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Token Code</label>
        <div class="col-md-10">
            @Html.TextBox("TokenCode", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">New Password</label>
        <div class="col-md-10">
            @Html.TextBox("NewPassword", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            @Html.TextBox("ConfirmPassword", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Reset Password" />
        </div>
    </div>
}