@model Product
@{
    ViewBag.Title = "Quản lý hàng hóa";
}

<h2>Quản lý hàng hóa</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#edit-tab" role="tab" data-toggle="tab">Edit</a></li>
    <li><a href="#list-tab" role="tab" data-toggle="tab">List</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="edit-tab">
        @using (Html.BeginForm("Index", "Product",
            FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(m => m.Id, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UnitPrice, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.UnitPrice, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UnitBrief, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.UnitBrief, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Image, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.HiddenFor(m => m.Image, new { @class = "form-control" })
                    <input name="uplImage" type="file" />
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.ProductDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.ProductDate, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownList("CategoryId")
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.SupplierId, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownList("SupplierId")
                    <input id="SupplierId-Text" />
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Quantity, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Discount, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-4 control-label">Features</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.Available) @Html.LabelFor(m => m.Available)
                        @Html.CheckBoxFor(m => m.Special) @Html.LabelFor(m => m.Special)
                        @Html.CheckBoxFor(m => m.Latest) @Html.LabelFor(m => m.Latest)
                    </div>
                </div>
            </div>
                        
            <div class="form-group">
                @Html.LabelFor(m => m.Views, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.Views, new { @class = "form-control" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows="3", cols="55" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    @if ((bool)ViewData["Insert"])
                    {
                        <button onclick="form.action = '/Admin/Product/Insert'" class="btn btn-default">Insert</button>
                    }
                    @if ((bool)ViewData["Update"])
                    {
                        <button onclick="form.action = '/Admin/Product/Update'" class="btn btn-default">Update</button>
                    }
                    <button data-access="@ViewData["Delete"]" onclick="form.action = '/Admin/Product/Delete'" class="btn btn-default">Delete</button>
                    <button onclick="form.action = '/Admin/Product/Index'" class="btn btn-default">Reset</button>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane" id="list-tab">
        <div id="result"></div>
        <div>
            <ul class="pager">
                <li><a href="pageNo=0">First</a></li>
                <li><a href="pageNo-=1">Prev</a></li>
                <li><span id="pageNo"></span>/<span>@ViewBag.PageCount</span></li>
                <li><a href="pageNo+=1">Next</a></li>
                <li><a href="pageNo=pageCount-1">Last</a></li>
            </ul>
        </div>
    </div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#SupplierId").change(function () {
                var id = $(this).val();
                $("#SupplierId-Text").val(id);
            });
        })
    </script>

    <script>
        $(function () {
            pageNo = 0;
            pageCount = @ViewBag.PageCount

            fnLoadPage();

            $("ul.pager a").click(function () {
                eval($(this).attr("href"));
                fnLoadPage();
                return false;
            });
        });

        function fnLoadPage() {
            if (pageNo < 0) {
                pageNo = pageCount - 1;
            }
            if (pageNo >= pageCount) {
                pageNo = 0;
            }
            $.ajax({
                url: "/Admin/Product/GetPage",
                data: { pageNo: pageNo },
                success: function (response) {
                    $("#result").html(response);
                }
            });
            $("#pageNo").html(pageNo+1);
        }
    </script>

    <script src="/nicEdit.js" type="text/javascript"></script>
    <script type="text/javascript">
        bkLib.onDomLoaded(function () {
            new nicEditor({
                fullPanel: true,
                uploadURI: '/Admin/Product/Upload'
            }).panelInstance('Description');
        });
    </script>
}
