@model IEnumerable<ReportInfo>
@{
    ViewBag.Title = "Index";
}

<h2>Inventory</h2>

<table class="table table-bordered">
    <tr>
        <th>Group</th>
        <th>Count</th>
        <th>Sum</th>
        <th>Min Price</th>
        <th>Max Price</th>
        <th>Avg Price</th>
    </tr>
    @foreach (var r in Model)
    {
        <tr>
            <td>@r.Group</td>
            <td>@r.Count</td>
            <td>@Html.FormatValue(r.Sum, "{0:c}")</td>
            <td>@Html.FormatValue(r.Min, "{0:c}")</td>
            <td>@Html.FormatValue(r.Max, "{0:c}")</td>
            <td>@Html.FormatValue(r.Avg, "{0:c}")</td>
        </tr>
    }
</table>